<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="maxi_bangho" connectionString="Data source=BANGHO\SQLEXPRESS; Initial Catalog=CATALOGO_P3_DB; Integrated Security=true" providerName="System.Data.SqlClient"/>
		<add name="maxi_mac" connectionString="Data Source=192.168.0.221; Initial Catalog=CATALOGO_P3_DB; User ID=SA; Password=Password1234; Connect Timeout=30;"/>
		<add name="facu" connectionString="server=.\\SQLEXPRESS; database=CATALOGO_P3_DB; integrated security=true"/>
		<add name="ana" connectionString="acá tenés que poner tu string, Ana"/>
	</connectionStrings>
</configuration>